@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    left: 0;
}
footer img{
    width: 100%;
    height: 10%;
}
footer .rectangle{
    height: 200px;
    width: 100%;
    background-color: #001220;
}
footer .contents{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: 40%;
}


.contents .container{
    display: flex;
    position: relative;
    justify-content:center;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
.contents .container .title{
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.contents .container .subtitle{
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 2px;
}
.contents .container span{
    width: 50%;
    height: 2px;
    background-color: #FFE3FE;
    margin: 5px 0;
    border-radius: 25px;
}
.contents .container .links .txt{
    padding: 10px 2px 4px 2px;
}
.contents .container ul li{
    padding: 3px 0px;
    list-style: none;
    color: #FFE3FE;
}
.contents .container ul li a{
    text-decoration: none;
    color: #FFE3FE;
}
.top{
    transform: translateY(-25px);
}
.img-bot{
    position: absolute;
    bottom: 80px;
    right: 7%;
    z-index: -1;
}
.img-bot img{
    height: 250px;
}
.bottom{
    transform: translateY(55px) translateX(25px);
}
